.garcon { background-image: url(../imgs/genre-garcon.png); background-repeat: no-repeat;  width: 600px; height: 600px; }
.garcon.f1-a1 { background-position: 0px -3600px; }
.garcon.f1-a2 { background-position: 0px 0px; }
.garcon.f1-a3 { background-position: 0px -600px; }
.garcon.f1-b1 { background-position: 0px -1200px; }
.garcon.f1-b2 { background-position: 0px -3600px; }
.garcon.f1-b3 { background-position: 0px -1800px; }
.garcon.f1-c1 { background-position: 0px -2400px; }
.garcon.f1-c2 { background-position: 0px -3600px; }
.garcon.f1-c3 { background-position: 0px -3000px; }
.garcon.f2-a1 { background-position: 0px -3600px; }
.garcon.f2-a2 { background-position: -600px 0px; }
.garcon.f2-a3 { background-position: -600px -600px; }
.garcon.f2-b1 { background-position: -600px -1200px; }
.garcon.f2-b2 { background-position: -600px -1800px; }
.garcon.f2-b3 { background-position: -600px -2400px; }
.garcon.f2-c1 { background-position: -600px -3000px; }
.garcon.f2-c2 { background-position: -600px -3600px; }
.garcon.f2-c3 { background-position: -600px -4200px; }
.garcon.f3-a1 { background-position: 0px -3600px; }
.garcon.f3-a2 { background-position: 0px -3600px; }
.garcon.f3-a3 { background-position: 0px -3600px; }
.garcon.f3-b1 { background-position: -1200px 0px; }
.garcon.f3-b2 { background-position: 0px -3600px; }
.garcon.f3-b3 { background-position: 0px -3600px; }
.garcon.f3-c1 { background-position: -1200px -600px; }
.garcon.f3-c2 { background-position: -1200px -1200px; }
.garcon.f3-c3 { background-position: 0px -3600px; }
.garcon.f4-a1 { background-position: 0px -3600px; }
.garcon.f4-a2 { background-position: -1800px 0px; }
.garcon.f4-a3 { background-position: 0px -3600px; }
.garcon.f4-b1 { background-position: 0px -3600px; }
.garcon.f4-b2 { background-position: -1800px -600px; }
.garcon.f4-b3 { background-position: -1800px -1200px; }
.garcon.f4-c1 { background-position: -1800px -1800px; }
.garcon.f4-c2 { background-position: 0px -3600px; }
.garcon.f4-c3 { background-position: 0px -3600px; }
.garcon.f5-a1 { background-position: -2400px 0px; }
.garcon.f5-a2 { background-position: 0px -3600px; }
.garcon.f5-a3 { background-position: 0px -3600px; }
.garcon.f5-b1 { background-position: -2400px -600px; }
.garcon.f5-b2 { background-position: 0px -3600px; }
.garcon.f5-b3 { background-position: 0px -3600px; }
.garcon.f5-c1 { background-position: -2400px -1200px; }
.garcon.f5-c2 { background-position: -2400px -1800px; }
.garcon.f5-c3 { background-position: 0px -3600px; }
